parameters:
    phpVersion: 80200
    level: 7
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
            path: src/SelectiveFixturesLoaderBundle.php
            count: 1
        -
            message: '#Call to an undefined method Symfony\\Component\\DependencyInjection\\Extension\\ExtensionInterface::getConfiguration\(\).#'
            path: tests
