name: "Coding Standards"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  coding-standards:
    name: "Coding Standards"
    runs-on: ubuntu-22.04

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Set up PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          tools: "cs2pr"

      - name: "Install dependencies"
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: 'highest'
          composer-options: '--prefer-dist'

      - name: "Run PHP_CodeSniffer"
        run: |
          vendor/bin/phpcs --report-emacs --report-diff || true
          vendor/bin/phpcs --no-colors --report=checkstyle | cs2pr