name: "Static Analysis"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  static-analysis:
    name: "PHPStan"
    runs-on: ubuntu-22.04

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Set up PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: "8.2"
          ini-file: 'development'

      - name: "Install dependencies"
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: 'highest'
          composer-options: '--prefer-dist'

      - name: "Run a static analysis with phpstan/phpstan"
        run: "vendor/bin/phpstan analyse -v"